.Container-Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* Estilos para telas menores (hamburguer) */
@media screen and (max-width: 768px) {
  .Container-Menu {
    display: flex;
    gap: 0;
    padding-bottom: 2rem;
  }
  .title-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.2rem;
  }
  .Container-Menu .logo-title {
    font-size: 0.8rem;
    width: 14rem;
  }

  .Container-Menu.menu-open .Menu-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    border: solid rgb(57, 196, 243);
    padding: 1rem;
    border-radius: 15px;
    top: 5%;
    left: 40%;
    z-index: 2;
  }

  .Container-menu-list .Menu-list {
    display: none;
  }

  .menu-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .menu-icon {
    cursor: pointer;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: black !important;
    border: none;
  }
  .menu-icon .barra-icon {
    width: 2rem;
    height: 2rem;
  }
  .menu-icon .X-icon {
    position: absolute;
    background-color: rgb(57, 196, 243);
    border-radius: 30px;
    z-index: 2;
    top: 4%;
    left: 75% !important;
    width: 2rem;
    height: 2rem;
    transition: 0.3s;
  }
  .button-menu {
    position: absolute;
    font-size: 0.9rem;
    padding: 0.5rem 2rem !important;
    top: 3.5%;
    left: 35%;
    z-index: 2;
  }
}
.menu-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.menu-icon {
  display: none;
}
.Container-Menu .logo {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}
.Container-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.Menu-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
  z-index: 1;
}
.Menu-list li {
  position: relative;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  z-index: 1;
}
.Menu-list li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #007bff;
  bottom: -4px;
  left: 0;
  transition: width 0.3s;
}

.Menu-list li:hover::after {
  width: 100%;
}
.Container-Menu .logo-title {
  font-family: "Open-sans", sans-serif;
  font-style: normal;
  color: #043468;
}
.button-menu {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  padding: 1rem 2rem;
  border: solid #fff;
  transition: 0.6s ease;
  box-shadow: 0px 0px 10px 2px rgb(3, 56, 73);
  background-color: #043468;
}
.button-menu:hover {
  background-color: #0d59ac;
  box-shadow: 0px 0px 10px 2px rgb(14, 158, 206);
}
